# .dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.venv/
venv/
build/
dist/
*.egg-info/

# ruff
.ruff_cache/

# Exclude development files
.git
.gitignore
Dockerfile
*.md
.vscode

# Exclude logs and cache
logs/
cache/

.DS_Store
.github/
docs/
tests/
logs/

# secret files
.env
.secrets
.secret.example

# Temporary files
tmp/
