# Load secrets from .secrets if present
source_env_if_exists .secrets

# Kind cluster name
export CLUSTER_NAME="${CLUSTER_NAME:-k8s-limits-cluster-test}"

# Environment variables for K8sResourceResizer
export PROMETHEUS_PROVIDER=prometheus
export PROMETHEUS_URL=http://localhost:9090

# AWS
export AWS_REGION=us-east-1

# Azure

# GCP
