# GitHub Secrets
export GITHUB_USERNAME=
export GITHUB_REPOSITORY_NAME=
export GITHUB_TOKEN=

# AWS credentials for AMP access
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AMP_WORKSPACE_ID=
